<div class="container">
<h1 class="mt-4">Dashboard</h1>
<h1 class=" mb-3">Welcome <%= user.stdId %></h2>

    <a href="/advising" class="btn btn-info ">Advise Courses</a>
    <a href="/users/profile" class="btn btn-success ml-4">Show Profile</a>

</div>

<a href="/users/logout" class="btn btn-secondary mt-4">Logout</a>